.ck-editor__editable {
    min-height: 300px;
}

.my-dropdown-item:hover {
    background-color: #f8f9fa !important;
    color: #343a40;
}

.custom-nav-dropdown .dropdown-toggle::after {
    display: none;
}